{% include 'includes/header.html' %}

<section class="mt-5 mb-5 text-center d-flex justify-content-center" id="form">
    <form method="POST" style="width:100%;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        {% csrf_token %}
        <div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label>İsim:</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="col-sm-6 mb-3">
                    <label>Soyisim:</label>
                    <input type="text" name="surname" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label>E-Posta:</label>
            <input type="email" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Telefon:</label>
            <input type="tel" name="phone" class="form-control" required>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label>Parola:</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="col-sm-6 mb-3">
                    <label>Parola Tekrar:</label>
                    <input type="password" name="password_retype" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label>Yetki</label>
            <select name="is_staff" class="form-control">
                <option value="True">Yönetici</option>
                <option selected value="False">Kullanıcı</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Oluştur</button>
    </form>
</section>

{% include 'includes/footer.html' %}
</body>
</html>